body{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

.container{
	background-color:rgb(15,23,36);

	padding: 0 200px;
}

.header{
	color:white;
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding: 20px 0;
	
}

.navbar ul,.social ul{
	margin:0px;
	padding:0px;
	list-style:none
}

.navbar ul li,.social ul li{
	display:inline-block
	
}

.navbar ul li a,.social ul li a,.logo a{
	color:white;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
}

.social ul li a{
	font-size:18px
}

.logo{
	flex:1
}
.navbar{
	flex:3;
	
}

.social{
	flex:1
}

.navbar ul{
	display:flex;
	justify-content:space-between;
	margin:0px 15%
}
.social ul{
	display:flex;
	justify-content:space-between;
	margin:0px 50px
}

.introduction{
margin: 80px 0 150px 0;
display:flex;
justify-content:space-between;
}
h1{
	font-size: 50px;
	color:white;
	line-height:80px;
	word-spacing:2px;
	letter-spacing:2px
}


.intro>h1 .name {
  
  background: linear-gradient(to right, rgb(143,93,214), rgb(24,169,198));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro p{
	
	color: white;
	margin-bottom: 50px;
	line-height: 25px
}

.intro button{
	background: linear-gradient(to right, rgb(143,93,214),  rgb(24,169,198));
	border-radius: 50px;
	padding:15px  30px;
	border:none;
	color:white;
	font-weight:bold;
	font-size:16px;
}
.pic img {
	border-radius:100%;

	margin-top: 30px
}

/* .projs{
	
	
	
} */
.projs1{

	display:flex;
	justify-content:space-between;
	/* margin:25px 0px; */
	flex-wrap: wrap;
	
	
}
.projects{
	margin:100px 0 150px 0;
}
.project{
	box-sizing: border-box;
	width:49.5%;
	border-image: linear-gradient(to right, rgb(143,93,214), rgb(24,169,198)) 30;
border-width: 2px;
border-style: solid;

	padding:20px;
	margin-top: 10px;
	

}

.project h3{
	color:white;
	
}
.project button{
	background: linear-gradient(to right, rgb(143,93,214),  rgb(24,169,198));
	border-radius: 50px;
	padding:15px  30px;
	border:none;
	color:white;
	font-weight:bold;
	font-size:16px;
	
}

.project button a{
	text-decoration:none;
	color:white;
	
}


.technologies{

	margin:100px 0 150px 0;

}

.html,.css,.bootstrap,.javascript{
	display:flex;
	justify-content:space-between;
}
.technology>h5{
	color:white;
	font-size:18px
}

.aboutme{
	margin:100px 0 100px 0;
	
}
.me{
	display:flex;
	justify-content: space-between;
}
.me div{
	
	box-sizing: border-box;
	width: 23%;
	/* padding:0px 20px; */
	
}
.me>div>h5{
	color:white;
	font-size:22px;
}
.me>div>p{
	color:white;
	
	font-size:16px;
	line-height: 24px;
	word-spacing:2px
}

.footer{
	display:flex;
padding-bottom:30px
}
.footerlinks{

	flex:3;
	
	
}
.footersocial{
flex:1
}
.footerlinks ul, .footersocial ul{
	margin:0px;
	padding:0px;
	display:flex;
	justify-content:space-between;
	
	
}

.footersocial ul{
	margin-left:150px;
}

.footerlinks ul li, .footersocial ul li{
	
	display:inline;
}

.footerlinks ul li a, .footersocial ul li a{
	text-decoration:none;
	color:white;
}


.flss, .nbss{
	display:none;
}











@media only screen and (max-width: 1024px){

li{
	font-size: 24px;
}
ul li a{
	font-size:30px !important;
}	

button{
	font-size: 30px !important;
}

h1{
	font-size: 70px;
}

h2{
	font-size: 50px;
}
h3{
	font-size: 40px;
}

h5{
	font-size: 30px !important;
}

.technology span{
	font-size: 20px !important;
} 
p{
	font-size: 14px !important;
}
.container{

	padding: 0px 40px;
}

.navbar{
display:none;	
}

.introduction{
flex-direction: column;
margin: 50px 0 100px 0;
justify-content:center;
align-items:center;
}



.pic img {
	margin-top: 80px;

}

.projects{
	margin:50px 0 100px 0;
	justify-content:center;
align-items:center;
}

.technologies{

	margin:50px 0 100px 0;
	justify-content:center;
align-items:center;
}

.aboutme{
	margin:50px 0 100px 0;
	justify-content:center;
align-items:center;
}


.projs{
display:flex;
flex-direction:column;

}

.projs1{
	display:flex;
flex-direction:column;
margin: 0px;
justify-content:center;
align-items:center;
}

.project{
width: 100%;
margin-bottom:20px;
}

.me{
	flex-direction: column;
}

.me div{
	
	width: 100%;
	padding:0px ;
	
}
.footer{
	padding:20px;
		margin-left:0px;
	padding-left:0px;
}
.footerlinks .fss{
	display:none;
}

.footerlinks{
	flex:1;
	
}
.footerlinks ul{

	display:flex;
	
}

.footersocial ul{
	display:flex;
margin-left:20px
}



.flss{
	display:block;
	padding-bottom:10px
}

.flss ul, .nbss ul{
	
	display:flex;
justify-content:space-around;
	margin-left:0px;
	padding-left:0px;
	
}

.nbss{
	display:block;
	margin-top:0px;
	padding-top:opx
}

.flss ul li, .nbss ul li{
	display:inline;
	
}

.flss ul li a, .nbss ul li a{
	text-decoration:none;
	color:white;
}

.footersocial ul{
	margin-right:100px;
	margin-left: 100px;
}
.contact{
	margin-left: 100px;
}

.bar{
	height: 20px !important;
}

.pic>img{
	height: 500px;
	width: 500px;
}
.intro h1{
	line-height: 100px;
}

.me p{
	font-size: 14px !important;
}

}

